<article id="<%= dom_id speaker_talk %>">
  <p>
    <strong>Talks talk:</strong>
    <%= speaker_talk.talks_talk_id %>
  </p>

  <p>
    <strong>Entities person:</strong>
    <%= speaker_talk.entities_person_id %>
  </p>

</article>
