<% content_for :title, "Speaker talks" %>

<h1>Speaker talks</h1>

<% if Rails.env.development? %>
  <p>
    <%= link_to "✏️", avo.resources_talks_speaker_talks_path, "up-follow": false %>
  </p>
<% end %>

<ul id="talks_speaker_talks">
  <% @talks_speaker_talks.each do |talks_speaker_talk| %>
    <li>
      <%= render talks_speaker_talk %>
      <p>
        <%= link_to "Show this speaker talk", talks_speaker_talk %>
      </p>
    </li>
  <% end %>
</ul>
