<% content_for :title, "Organizations" %>

<h1>Sponsors<% if Rails.env.development? %> <%= link_to "✏️", avo.resources_entities_organizations_path, "up-follow": false %><% end %></h1>

<p>
  We are always looking for meetup hosts.
  If you have an office space or equivalent venue in Munich and want to host our next meetup,
  please reach out to us via LinkedIn or Discord.
</p>

<ul id="entities_organizations">
  <% @entities_organizations.each do |entities_organization| %>
    <li>
      <%= render entities_organization %>
      <p>
        <%= link_to "Show this organization", entities_organization %>
      </p>
    </li>
  <% end %>
</ul>
