<% content_for :title, "Talks" %>

<h1>Talks<% if defined?(Avo) %> <%= link_to "✏️", avo.resources_talks_talks_path, "up-follow": false %><% end %></h1>

<p>
  Our "call for proposals" (CFP) is always open. If you want to give a talk at
  one of our next meetups, contact us via Discord or LinkedIn or open a PR on
  our GitHub repo.
</p>

<ul id="talks_talks">
  <% @talks_talks.each do |talks_talk| %>
    <li>
      <%= render talks_talk %>
      <p>
        <%= link_to "Show this talk", talks_talk %>
      </p>
    </li>
  <% end %>
</ul>
