<% content_for :title, "Sponsorships" %>

<h1>Sponsorships<% if Rails.env.development? %> <%= link_to "✏️", avo.resources_sponsors_sponsorships_path, "up-follow": false %><% end %></h1>

<ul id="sponsors_sponsorships">
  <% @sponsors_sponsorships.each do |sponsors_sponsorship| %>
    <li>
      <%= render sponsors_sponsorship %>
      <p>
        <%= link_to "Show this sponsorship", sponsors_sponsorship %>
      </p>
    </li>
  <% end %>
</ul>
