<% content_for :title, "Sponsorship: #{@sponsors_sponsorship.slug}" %>

<%= render @sponsors_sponsorship %>

<% if Rails.env.development? %>
  <p>
    <%= link_to "✏️", avo.resources_sponsors_sponsorship_path(@sponsors_sponsorship), "up-follow": false %>
  </p>
<% end %>

<%= link_to "Back to all sponsorships", sponsors_sponsorships_path %>
