<% content_for :title, "Person: #{@entities_person.slug}" %>

<%= render @entities_person %>

<% if Rails.env.development? %>
  <p>
    <%= link_to "✏️", avo.resources_entities_person_path(@entities_person), "up-follow": false %>
  </p>
<% end %>

<%= link_to "Back to all people", entities_people_path %>
