<article id="<%= dom_id participation %>">
  <p>
    <strong>Entities person:</strong>
    <%= participation.entities_person_id %>
  </p>

  <p>
    <strong>Events event:</strong>
    <%= participation.events_event_id %>
  </p>

  <p>
    <strong>Attended as:</strong>
    <%= participation.attended_as %>
  </p>

</article>
